html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

canvas { 
  display: block; 
}

.container-100 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
}

.linked-in-logo.desktop {
  visibility: visible;
  display: inline-block;
}

.linked-in-logo.mobile {
  visibility: hidden;
  display: none;
}

.transition-opacity {
  transition: opacity 1000ms;
}

.brand {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: white;
  mix-blend-mode: screen;
  align-content: center;
  opacity: .975;
  text-align: center;
  position: absolute;
}

.linked-in-logo {
  width: 75px;
}

.brand-name img {
  max-height: 500px;
}

@media (max-height: 600px) { 
    .brand-name img { 
        max-height: 200px;
    }
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.opacity-1 {
  opacity: 1;
}

.opacity-point95 {
  opacity: .95;
}

.opacity-0 {
  opacity: 0;
}

.no-pointer-events {
  pointer-events: none;
}

.inactive {
  opacity: 0;
  pointer-events: none !important;
}

.brand-small {
  box-sizing: border-box;
  width: 100%;
  align-content: center;
  text-align: center;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 64px;
  pointer-events: all;
}

.brand-small .brand-name {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.brand-small .logo-container img {
  height: 64px;
}

.chevron {
  transition: padding 500ms;
  height: 32px;
  cursor: pointer;
}

.brand-canvas {
    touch-action: none;
}

.chevron-left {
  padding-left: 16px;
}

.chevron-left:hover {
  padding-left: 0px;
}

.chevron-right {
  padding-right: 16px;
}

.chevron-right:hover {
  padding-right: 0px;
}

.chevron-container {
  width: 64px;
}

.sprite {
  max-height: 100px;
  max-width: 100px;
}

.texture {
  max-height: 300px;
  max-width: 300px;
}

.sprite-gallery, 
.texture-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.sprite-container {
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.texture-container {
  display: flex;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.sprite-gallery-container,
.texture-gallery-container {
  padding: 16px;
}

.sprite-gallery-container h1,
.sprite-gallery-container h2,
.texture-gallery-container h1,
.texture-gallery-container h2 {
  padding: 32px 16px 16px 16px;
  margin: 0;
}

.sprite-ground {
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
}
